  alembic
  fastapi
  uvicorn
  sqlalchemy
  aioredis
  celery[redis]
  kafka-python
  geoalchemy2
  asyncpg
  pydantic
  h3
  python-jose
  websockets
  pytest
  httpx
  prometheus-fastapi-instrumentator
  passlib[bcrypt]
  circuitbreaker
  opentelemetry-api
  aiohttp
  python-socketio
  aiokafka